body {
    font-family: Arial, sans-serif;
    background-image: url("Images/A_DBD_background.png");
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.perks_body {
    font-family: Arial, sans-serif;
    background-image: url("Images/A_DBD_background.png");
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #02011898;
    color: #ffffff;
    text-align: center;
    padding: 30px;
}

header h1 {
    margin: 0;
    font-size: 300%;
}

.podtytul {
    font-style: italic;
    color: #ffcccc;
}

nav {
    display: flex;
    justify-content: center;
    background-color: rgb(26, 27, 38);
    padding: 15px;
    gap: 20px;

}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 15px;

    transition: 
    background-color 0.3s ease,
    color 0.3s ease,
    transform 0.3s ease,
    box-shadow 0.3s ease;

}

nav a:hover {
    background-color: #8b0000;
    border-radius: 5px;
    transform: translateY(-3px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.35);
}

main {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.Glowny_tekst {
    font-size: 25px;
    color: #ffffff;
    background-color: rgba(26, 27, 38, 0.6);
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    opacity: 1;
}




section {
    background-color: rgba(26, 27, 38, 0.6);
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}


h2 {
    color: #ff4d4d;
    text-align: center;
    border-bottom: 2px solid #610404;
    padding-bottom: 10px;
}

h3 {
    color: #ff8080;
}

.image_1 {
     max-width: 100%;
    height: auto;
    text-align: center;
    display: block;
    margin: 15px auto;
}

.image_2 {
    max-width: 100%;
    height: auto;
    text-align: center;
    display: block;
    margin: 15px auto;
    border: 3px solid #610404;
    border-radius: 5px;
}

table {
    width: 100%;
    border-spacing: 5px;
    border-collapse: separate;
    margin-top: 15px;
    
}

th, td {
    border: 3px solid #7e0303;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #8b0000;
    color: #ffffff;
}

td {
    background-color: #1a0e0eb0;
}

footer {
    background-color: #000000;
    color: #aaaaaa;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

a {
    color:#e0e0e0
}

.Characters {
    float: left;
    height: auto;
    display: block;
    border: 3px solid #610404;
    margin-right: 20px;


}

.Characters_block {
    background-color: rgba(71, 19, 19, 0.432);
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

.Characters_block2 {
    background-color: rgba(19, 48, 71, 0.432);
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

.Characters2 {
    float: left;
    height: auto;
    display: block;
    border: 3px solid #021e77;
    margin-right: 20px;


}

.Ocaleni {
    color: #3459d1;
    text-align: center;
    border-bottom: 2px solid #2c51b6;
    padding-bottom: 10px;
}

.Ocaleni_2 {
    color: #628be4;
}

.Zabojcy_header {
    background-color: #610404b2;
    color: #ffffff;
    text-align: center;
    padding: 30px;
}

.Ocaleni_header {
    background-color: #0e1266b2;
    color: #ffffff;
    text-align: center;
    padding: 30px;
}

.fade_in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}




